aside + div {
  max-width: 760px;
  max-height: 600px;
  float: left;
}

aside + div > div:nth-child(1), 
aside + div > div:nth-child(2){
  width: 380px;
  height: 200px;
  float: left;
  text-align: center;
}

aside + div > div:nth-child(3), 
aside + div > div:nth-child(4),
aside + div > div:nth-child(5), 
aside + div > div:nth-child(6) {
  width: 190px;
  height: 250px;
  float: left;
  text-align: center;
}

aside + div > div:nth-child(1) {
  background: mediumaquamarine;
}

aside + div > div:nth-child(2) {
  background: mediumpurple;
}

aside + div > div:nth-child(3) {
  background: mediumspringgreen;
}

aside + div > div:nth-child(4){
  background: mediumvioletred;
}

aside + div > div:nth-child(5) {
  background: mediumturquoise;
}

aside + div > div:nth-child(6) {
  background: mediumblue;
}

@media only screen and (max-width: 767px) {
  aside + div > div:nth-child(1), 
  aside + div > div:nth-child(2){
    width: 480px;
    height: 125px;
    float: left;
    text-align: center;
  }

  aside + div > div:nth-child(3), 
  aside + div > div:nth-child(4),
  aside + div > div:nth-child(5), 
  aside + div > div:nth-child(6) {
    width: 240px;
    height: 250px;
    float: left;
    text-align: center;
  }
}